@page
@model MoneyPlus.Pages.Actives.IndexModel

@{
    ViewData["Title"] = "Active";
}

<h1 class="display-5">@ViewData["Title"]</h1>
<br />
<p>
    <a class="btn btn-primary" asp-page="Create">Create New </a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Active[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active[0].Value)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Active)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
