@page
@model MoneyPlus.Pages.admin.secretModel
@{
    ViewData["Title"] = "Administrator Creator Roles";
}

<head>
    <style>
        body {
            background-image: url('/pictures/segredo2.jfif'); 
            background-color: black;
            background-repeat: no-repeat;
            background-position: center 0;
            background-size: cover;
            color: whitesmoke;
        }
    </style>
</head>

<body >
    <h1>@ViewData["Title"]</h1>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">                    
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Email" class="form-control"  aria-required="true" />
                        <label asp-for="@Model.Email" class="form-label"></label>
                        <span asp-validation-for="@Model.Email" style="font-weight: bold" class="text-white">Email</span>
                    </div>
                    <p></p>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Password" class="form-control" aria-required="true" />
                        <label asp-for="@Model.Password" class="form-label"></label>
                        <span asp-validation-for="@Model.Password" style="font-weight: bold" class="text-white">Password</span>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <input type="submit" value="Create" style="font-weight: bold" class="btn btn-primary" />
                    </div>
                </form>
            </section>
        </div>
    </div>


</body>
